
.Notification-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.Notification-modal {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 60%;
}

.Notification-header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #042A46;
    padding: 1rem;
}

.Notification-header button {
    color: white;
    background-color: gray;
    border: solid 3px white;
    border-radius: 10px;
}

.Notification-header button:hover{
    color: black;
    border: solid 3px gray;
}

.Notification-content {
    background-color: white;
    height: 25rem;
    padding: 1rem;
}

.Notification-footer {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    padding: 1rem;
}

.Notification-footer button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 3px white;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 10rem;
    padding: .5rem;
}

.Notification-footer button:hover {
    border: solid 3px gray;
}

.Notification-footer button span {
    font-size: 2rem;
}

.Notification-footer button.cancel {
    color: white;
    background-color: red;
}

.Notification-content {
    display: flex
}

.Notification-item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


.Notification-item label {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Notification-item button {
    background-color: white;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 1rem;
    margin: 10px;
}

.Notification-item button label {
    display: flex;
    justify-content: space-between;
}

.Notification-item button label p {
    text-align: start;
    overflow-wrap: break-word;
    width: 100%;
}

.Notification-content-boards {
    width: 40rem;
}

.Notification-content-boards button {
    color: black;
    background-color: white;
    border-radius: 1rem;
    padding: .5em;
    margin-left: 1rem;
}

.Notification-content-boards button[value="true"]{
    color: white;
    background-color: #042A46;
}


.Notification-content-boards hr{
    margin: 1rem;
}

.Notification-content-inventory {
    border-left: solid 2px gray;
    width: 70%;
    height: 30rem;
}

.Notification-content-inventory label {
    font-size: 1.2rem;
    margin-left: 2rem;
}

.Notification-content-inventory button {
    color: black;
    background-color: white;
    border-radius: 1rem;
    padding: .5em;
    margin-left: 1rem;
}

.Notification-content-inventory button[value="true"]{
    color: white;
    background-color: #042A46;
}

.Notification-content-inventory hr {
    margin: 1rem;
}

.Notification-content-updates-header {
    display: flex;
    padding: .5rem;
    margin: .5rem;
    border-bottom: solid 2px black;
}

.Notification-content-updates-header label{
    color: gray;
    width: 7rem;
    
}

.Notification-content-updates-list {
    display: flex;
    padding: .5rem;
    margin: .5rem;
    border-bottom: solid 2px gray;
}

.Notification-content-updates-list label{
    font-size: .8rem;
    width: 7rem;
}

.Notification-content-quantityLow {
    display: flex;
    flex-direction: column;
}

.Notification-content-quantityLow-header {
    display: flex;
    padding: .5rem;
    border-bottom: solid 2px black;
    width: 35rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.Notification-content-quantityLow-header label{
    color: gray;
    width: 7rem;
    
}

.Notification-content-quantityLow-list {
    align-items: center;
    display: flex;
    padding: .5rem;
    border-bottom: solid 2px gray;
    width: 34rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.Notification-content-quantityLow-list label{
    text-align: center;
    width: 6rem;
}

.Notification-content-bulletin {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: .5rem;
}

.Notification-content-bulletin button {
    border: solid 2px gray;
    border-radius: 10px;
    width: 28rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.Notification-content-bulletin button:hover {
    border: solid 2px black;
}

.Notification-content-bulletin button .Notification-content-bulletin-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    cursor: pointer;
}

.Notification-content-bulletin button .Notification-content-bulletin-header label {
    color: gray;
    padding: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
}

.Notification-content-bulletin button .Notification-content-bulletin-content {
    display: flex;
    padding: .2rem;
    cursor: pointer;
}

.Notification-content-bulletin button .Notification-content-bulletin-content label {
    color: black;
    font-size: 1rem;
    text-align: start;
    word-break: break-all;
    padding: .5rem;
    cursor: pointer;
}