/* Header Panel - Records*/

.headerRecordsPanel {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 100%;
}

.headerRecordsPanel h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #042A46;
    
    width: 15rem;
    height: 3rem;
    padding: 10px;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}

.headerRecordsPanel label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #042A46;
    font-size: 2rem;
    
    width: 20rem;
    height: 3rem;
    padding: 10px;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}

.headerRecordsPanel button h1 {
    color: white;
    background-color: gray;
}