/* Information Tab - Records */

.InformationTab-panel {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.InformationTab-panel button {
    color: white;
    font-size: 2rem;
}

.InformationTab i {
    color: white;
    font-size: 2.5rem;
}

.InformationTab-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px black;
    margin: 5% auto;
    border: 1px solid #888;
    width: 60rem;
    height: 42.2rem;
}

.Information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #042A46;
}

.Information-header h2 {
    color: white;
    padding: 10px;
}

.Information-header button{
    display: flex;
    align-items: center;
    color: gray;
    font-size: 1rem;
    border: solid 2px gray;
    border-radius: 1rem;
    padding: .5rem;
    margin: 1rem;
}

.Information-header button span {
    font-size: 1.5rem;
}

.Information-header button:hover {
    color: black;
    border: solid 2px black;
}

.Information-option {
    display: flex;
    justify-content: space-between;
    background-color: #01385f;
    padding: 10px;
}

.Information-option button {
    color: white;
    font-size: .7rem;
    background-color: gray;
    border: solid 3px white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.Information-option button:hover {
    color: white;
    background-color: black;
}
.Information-content-all {
    display: flex;
    justify-content: space-between;
}
.Information-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%;
}

.Information-content hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Information-content .Information-content-header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.Information-added-item-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 33rem;
}

.Information-added-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.Information-added-item-options {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.Information-added-item-options button {
    color: black;
    background-color: white;
    border: solid 2px white;
    border-radius: 10px;
}

.Information-added-item-options button:hover{
    color: white;
    background-color: black;
    border: solid 2px gray;
}

.Information-added-item-options button span {
    font-size: 15px;
}

.Information-added-item-options input {
    text-align: center;
    border: solid 1px gray;
    width: 1rem;
}

.Information-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
    padding: 10px;
    margin: 1rem;
}

.Information-footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34rem;
}

.Information-footer-info .totalAmount {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #01385f;
    margin-bottom: 10px;
    padding: 1rem;
}

.Information-footer-info .totalAmount h1{
    font-size: 3rem;
}

.Information-footer-info .otherAmount {
    justify-content: space-between;
    color: white;
    background-color: #01385f;
    margin-bottom: 10px;
    padding: 1rem;
}

.Information-footer-info .otherInfo {
    justify-content: space-between;
    color: white;
    background-color: #01385f;
    margin-bottom: 10px;
    padding: 1rem;
}

.Information-footer-info label {
    display: flex;
    justify-content: space-between;
}

.Information-footer-info p {
    color: white;
    font-size: .9rem;
}

.Information-footer button{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.Information-footer button:hover {
    color: white;
    background-color: black;
}

.InformationTabRecords-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    color: gray;
    width: 100%;
    height: 45.4rem;
}