/* Edit Modal Information */
.editItem-modal {
    margin: 0px;
}


.editItem-container{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.editItem-panel {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 30%;
}

.editItem-header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #042A46;
    padding: 1rem;
}

.editItem-header button {
    color: white;
    background-color: gray;
    border: solid 3px white;
    border-radius: 10px;
}

.editItem-header button:hover{
    color: black;
    border: solid 3px gray;
}

.editItem-content {
    justify-content: center;
    padding: 2rem;
}

.selectionCategory .selections {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 5px;
}

.selections label {
    font-size: 1rem;
    font-weight: bold;
}

.selections select {
    font-size: 1rem;
    border: none;
    border-bottom: solid 2px gray;
    padding: 5px;
}

.itemEditName {
    display: grid;
    margin: 10px;
}

.itemEditName input{
    border: none;
    border-bottom: solid 1px black;
    margin-top: 5px;
}

.itemEditInfo {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: 2rem;
}

.itemEditInfo .itemEditInfo-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itemEditInfo-left p{
    margin-top: 10px;
}



.itemEditInfo-left select {
    margin-top: 1rem;
    font-size: 1rem;
    width: 15rem;
    height: 2rem;
}

.itemEditInfo .itemEditInfo-right {
    display: flex;
    flex-direction: column;
}

.itemEditInfo input{
    text-align: end;
    border: none;
    border-bottom: solid 2px gray;
    width: 10rem;
}

.editItem-content input {
    align-self: center;
    resize: none;
    font-size: 1.5rem;
    padding: 5px;
}

.editItem-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.editItem-footer button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 3px white;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 10rem;
    padding: .5rem;
}

.editItem-footer button:hover {
    border: solid 3px gray;
}

.editItem-footer button span {
    font-size: 2rem;
}

.editItem-footer button.save {
    color: white;
    background-color: #042A46;
}

.editItem-footer button.cancel {
    color: white;
    background-color: red;
}

.itemEditInfo-left-image input {
    width: 9rem;
    margin-left: -.5rem;
    border: none;
}

.itemEditInfo-left-image {
    display: flex;
}

.itemEditInfo-left-image img {
    border: solid 1px gray;
    background-color: white;
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
}

.itemEditInfo-left-image img:hover {
    transform: scale(3.5);
}