.reportGraph-admin-containerA h4 {
    color: white;
    background-color: #042A46;
    padding: .5rem;
}
.admin-reportGraphPanelA {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 36.5rem;
    height: 18.5rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}

.admin-reportGraphPanelA h5 {
    font-size: 1rem;
    position: absolute;
    margin-top: -.5rem;
    margin-left: -24rem;
    background-color: #042A46;
    color: white;
    padding: .5rem;
}


.admin-reportGraph-graph {
    margin-top: 2rem;
    width: 15rem;
}

.admin-reportGraph-graph label {
    padding: 1rem;
}


.admin-reportGraph-content {
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
}

.admin-reportGraph-content label {
    display: flex;
    gap: 1rem;
}

.admin-reportGraph-content label span {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
